<div class="row well right-page-box">

	<div class="page-header red-name">
		<h1> <%= "#{@user.name} #{@user.surname}" %>
		<div class="pull-right darken">
		<% if @user == current_user %>
			(your page)
		<% else %>
			<%= render 'follow_form' %>
		<% end %> 
		</div> 
		</h1>
	</div>


	<div class="span4">

		<%= render 'users_avatar'%>
		
	</div>
	<div class="span5">

		<%= render 'users_information'%>

	</div>
	<div class="span2">
		<h3> <%= render 'stats' %> </h3>
	</div>

	<div class="span11">
		<hr/>
		<%= render 'users_posts' %>
		<br/>
		<% if current_user.id == @user.id %>
		<%= render 'new_post' %>
		<% end %>
	</div>
</div>
